In [1]:
#Import dependencies
import csv
import pandas as pd

In [2]:
#Declare CSV file
us_accidents= pd.read_csv("US_Accidents_Dec21_updated.csv")

In [3]:
#Reduced columns
reduced_us_accidents = us_accidents[["Start_Lat","Start_Lng","Severity","Start_Time","State","Roundabout","Stop","Traffic_Signal","Sunrise_Sunset","Visibility(mi)","Crossing"]]

reduced_us_accidents.head(50)

,Start_Lat,Start_Lng,Severity,Start_Time,State,Roundabout,Stop,Traffic_Signal,Sunrise_Sunset,Visibility(mi),Crossing
0,40.108910,-83.092860,3,2016-02-08 00:37:08,OH,False,False,False,Night,10.0,False
1,39.865420,-84.062800,2,2016-02-08 05:56:20,OH,False,False,False,Night,10.0,False
2,39.102660,-84.524680,2,2016-02-08 06:15:39,OH,False,False,False,Night,10.0,False
3,41.062130,-81.537840,2,2016-02-08 06:51:45,OH,False,False,False,Night,10.0,False
4,39.172393,-84.492792,3,2016-02-08 07:53:43,OH,False,False,False,Day,10.0,False
5,39.063240,-84.032430,2,2016-02-08 08:16:57,OH,False,False,True,Day,10.0,False
6,39.775650,-84.186030,2,2016-02-08 08:15:41,OH,False,False,False,Day,3.0,False
7,41.375310,-81.820170,2,2016-02-08 11:51:46,OH,False,False,False,Day,0.5,False
8,40.702247,-84.075887,2,2016-02-08 14:19:57,OH,False,False,False,Day,10.0,False
9,40.109310,-82.968490,2,2016-02-08 15:16:43,OH,False,False,False,Day,0.5,False
10,39.192880,-84.477230,2,2016-02-08 15:43:50,OH,False,False,False,Day,3.0,False
11,39.138770,-84.533940,2,2016-02-08 16:50:57,OH,False,False,True,Day,10.0,True
12,41.473900,-81.704233,2,2016-02-08 17:27:39,OH,False,False,False,Day,1.8,False
13,39.582242,-83.677814,2,2016-02-08 17:30:18,OH,False,False,False,Day,1.0,False
14,40.151785,-81.312635,3,2016-02-08 18:11:11,OH,False,False,False,Night,10.0,False
15,40.151747,-81.312682,3,2016-02-08 18:11:11,OH,False,False,False,Night,10.0,False
16,39.972410,-82.846950,3,2016-02-08 19:47:42,OH,False,False,False,Night,6.0,False
17,39.983800,-82.856570,2,2016-02-08 19:47:42,OH,False,False,False,Night,6.0,False
18,40.026640,-82.994400,3,2016-02-08 20:13:22,OH,False,False,False,Night,1.0,False
19,41.679361,-83.573037,4,2016-02-08 21:00:17,OH,False,False,False,Night,10.0,False
20,40.996130,-85.266130,2,2016-02-08 21:10:10,IN,False,False,False,Night,8.0,False
21,39.038100,-84.592430,3,2016-02-08 21:30:31,KY,False,False,False,Night,3.0,False
22,40.033860,-82.996010,2,2016-02-09 05:54:01,OH,False,False,False,Night,1.0,False
23,39.857980,-84.281810,2,2016-02-09 06:10:59,OH,False,False,False,Night,2.0,False
24,39.152670,-84.539500,2,2016-02-09 06:46:32,OH,False,False,False,Night,1.5,False
25,39.307320,-85.959820,2,2016-02-09 07:18:10,IN,False,False,False,Night,2.0,False
26,39.775720,-84.048150,4,2016-02-09 07:28:15,OH,False,False,False,Night,1.5,False
27,39.976430,-83.123060,2,2016-02-09 07:25:40,OH,False,False,False,Night,1.5,False
28,39.585950,-85.825180,3,2016-02-09 07:44:49,IN,False,False,False,Day,1.5,False
29,39.363800,-85.516590,3,2016-02-09 07:48:40,IN,False,False,False,Day,2.0,False
30,39.451320,-85.625160,3,2016-02-09 07:48:40,IN,False,False,False,Day,3.0,False
31,39.750670,-84.141480,2,2016-02-09 08:00:16,OH,False,False,False,Day,1.2,False
32,39.267500,-81.499290,3,2016-02-09 08:02:55,WV,False,False,False,Day,1.0,False
33,39.860250,-85.966230,2,2016-02-09 08:18:58,IN,False,False,False,Day,5.0,False
34,41.956770,-83.672140,2,2016-02-09 09:07:19,MI,False,False,False,Day,1.2,False
35,38.274010,-85.748440,3,2016-02-09 10:07:49,IN,False,False,False,Day,10.0,False
36,41.956770,-83.672140,2,2016-02-09 11:09:49,MI,False,False,False,Day,2.5,False
37,40.522250,-80.066660,2,2016-02-09 11:28:49,PA,False,False,False,Day,1.5,False
38,40.487814,-80.009439,2,2016-02-09 12:31:08,PA,False,False,False,Day,1.0,False
39,40.156298,-83.018431,4,2016-02-09 15:33:59,OH,False,False,False,Day,2.0,False
40,41.474610,-81.711820,2,2016-02-09 17:12:40,OH,False,False,False,Day,1.0,False
41,41.061800,-81.546080,2,2016-02-09 17:13:58,OH,False,False,False,Day,2.5,False
42,40.451120,-85.150480,4,2016-02-09 18:20:58,IN,False,False,False,Night,2.0,False
43,40.354290,-85.149930,4,2016-02-09 18:20:58,IN,False,False,False,Night,2.0,False
44,39.758550,-85.137150,4,2016-02-09 22:37:48,IN,False,False,False,Night,3.0,False
45,39.744080,-85.137490,4,2016-02-09 22:37:48,IN,False,False,False,Night,3.0,False
46,39.965148,-83.020499,4,2016-02-10 06:17:32,OH,False,False,False,Night,4.0,False
47,40.728130,-84.789650,4,2016-02-10 06:18:49,OH,False,False,False,Night,2.5,False
48,39.852230,-85.258470,2,2016-02-10 06:29:48,IN,False,False,False,Night,2.0,False
49,41.467470,-81.759090,2,2016-02-10 08:19:15,OH,False,False,False,Day,8.0,False

In [4]:
#Checked memory
(reduced_us_accidents.memory_usage()/(1024*1024)).sum()

162.81189727783203

In [5]:
#Split Start_Time to get a year column to filter by 2021
years= (reduced_us_accidents['Start_Time'].str.split(pat="-", expand= True))

In [6]:
#Added years column to data frame
reduced_us_accidents["Years"]= years[0]
reduced_us_accidents.head()

/var/folders/f4/dq5n9kfj4t97hl4f3bv12x2r0000gn/T/ipykernel_15904/731413728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_us_accidents["Years"]= years[0]

,Start_Lat,Start_Lng,Severity,Start_Time,State,Roundabout,Stop,Traffic_Signal,Sunrise_Sunset,Visibility(mi),Crossing,Years
0,40.108910,-83.092860,3,2016-02-08 00:37:08,OH,False,False,False,Night,10.0,False,2016
1,39.865420,-84.062800,2,2016-02-08 05:56:20,OH,False,False,False,Night,10.0,False,2016
2,39.102660,-84.524680,2,2016-02-08 06:15:39,OH,False,False,False,Night,10.0,False,2016
3,41.062130,-81.537840,2,2016-02-08 06:51:45,OH,False,False,False,Night,10.0,False,2016
4,39.172393,-84.492792,3,2016-02-08 07:53:43,OH,False,False,False,Day,10.0,False,2016

In [7]:
#Converted Years to integer
updated_df = reduced_us_accidents.astype({"Years":"int32"})

In [8]:
#Checked updated dataframe
updated_df.head()

,Start_Lat,Start_Lng,Severity,Start_Time,State,Roundabout,Stop,Traffic_Signal,Sunrise_Sunset,Visibility(mi),Crossing,Years
0,40.108910,-83.092860,3,2016-02-08 00:37:08,OH,False,False,False,Night,10.0,False,2016
1,39.865420,-84.062800,2,2016-02-08 05:56:20,OH,False,False,False,Night,10.0,False,2016
2,39.102660,-84.524680,2,2016-02-08 06:15:39,OH,False,False,False,Night,10.0,False,2016
3,41.062130,-81.537840,2,2016-02-08 06:51:45,OH,False,False,False,Night,10.0,False,2016
4,39.172393,-84.492792,3,2016-02-08 07:53:43,OH,False,False,False,Day,10.0,False,2016

In [9]:
#Filter by year 2021
dataset_reduced_years = updated_df.loc[updated_df["Years"]>= 2021] 
dataset_reduced_years.memory_usage()/(1024*1024)

Index             11.533699
Start_Lat         11.533699
Start_Lng         11.533699
Severity          11.533699
Start_Time        11.533699
State             11.533699
Roundabout         1.441712
Stop               1.441712
Traffic_Signal     1.441712
Sunrise_Sunset    11.533699
Visibility(mi)    11.533699
Crossing           1.441712
Years              5.766850
dtype: float64

In [10]:
#Eliminated start date, year, ID, Temperature, and duplicate Traffic_Signal 
year2021 = dataset_reduced_years[["Severity","Start_Lat","Start_Lng","State","Roundabout","Stop","Traffic_Signal","Sunrise_Sunset","Visibility(mi)","Crossing"]]
year2021

,Severity,Start_Lat,Start_Lng,State,Roundabout,Stop,Traffic_Signal,Sunrise_Sunset,Visibility(mi),Crossing
224945,2,42.382359,-71.022318,MA,False,False,False,Night,10.0,False
224946,2,40.908676,-123.707116,CA,False,False,False,Night,2.0,False
224947,2,38.970628,-77.116333,MD,False,False,False,Day,10.0,False
224948,2,47.642651,-122.318590,WA,False,False,False,Day,10.0,False
224949,2,37.419536,-122.090640,CA,False,False,False,Day,10.0,False
...,...,...,...,...,...,...,...,...,...,...
2068385,2,33.932945,-118.280711,CA,False,False,False,Night,7.0,False
2068522,2,34.172340,-118.532685,CA,False,False,False,Night,10.0,False
2068635,2,44.069885,-121.306432,OR,False,False,False,Night,NaN,False
2068931,2,37.998126,-121.811133,CA,False,False,False,Night,9.0,False
2069159,2,29.736587,-95.588534,TX,False,False,True,Night,10.0,False

In [11]:
#Checked memory to see if it is in limitations
(year2021.memory_usage()/(1024*1024)).sum()

86.50274276733398

In [12]:
year2021.to_csv("Resources/2021_us_accidents.csv", index=False, header=True)